version: "2.4"
services:
  solr:
    container_name: "solr8"
    image: "djtfmartin/biocache-pipelines-solr8:v3"
    ports:
      - "9983:9983"
      - "8983:8983"
    environment:
      SOLR_PORT: "8983"
      SOLR_HOST: "localhost"
    entrypoint:
      - "docker-entrypoint.sh"
      - "solr"
      - "start"
      - "-cloud"
      - "-f"
    restart: on-failure
    platform: linux/amd64
