livingatlas/configs/la-pipelines-local.yaml
.idea
*.iml
*.log
*.log.*
*.crc
target
output
java-generated
bin
.DS_Store
logs
log
temp
tmp
minicluster
release.properties
sdks/models/src/main/avro/table/
examples/dwca-to-elasticsearch/configs/*.json

# la-pipelines debian package
livingatlas/debian/*.debhelper
livingatlas/debian/*.debhelper.log
livingatlas/debian/debhelper-build-stamp
livingatlas/debian/*.buildinfo
livingatlas/debian/*.substvars
livingatlas/debian/files
livingatlas/debian/la-pipelines
livingatlas/debian/la-pipelines-migration/
livingatlas/debian/maven-repo-local/
dependency-reduced-pom.xml
/**/dependency-reduced-pom.xml
