.idea
*.iml
*.log
*.log.*
*.crc
target
output
java-generated
bin
.DS_Store
logs
log
temp
tmp
minicluster
release.properties

# la-pipelines debian package
livingatlas/debian/*.debhelper
livingatlas/debian/*.debhelper.log
livingatlas/debian/*.buildinfo
livingatlas/debian/*.substvars
livingatlas/debian/files
livingatlas/debian/la-pipelines
livingatlas/debian/maven-repo-local/
/livingatlas/pipelines/src/test/resources/image-service-non/dr893/image.csv-sorted
