Source: la-pipelines
Section: utils
Priority: optional
Maintainer: GBIF and LivingAtlases Pipelines Team <pipelines@lists.gbif.org>
Uploaders: GBIF and LivingAtlases Pipelines Team <pipelines@lists.gbif.org>
Build-Depends:
 debhelper (>= 11),
 openjdk-8-jdk,
 maven
Standards-Version: 4.2.1
Homepage: https://github.com/gbif/pipelines
Vcs-Browser: https://github.com/gbif/pipelines
Vcs-Git: https://github.com/gbif/pipelines.git

Package: la-pipelines
Architecture: all
Depends: ${misc:Depends}, openjdk-8-jdk, ca-certificates, bash-completion, curl
Suggests: yq, docopts
Description: Utility for data processing and indexing of biodiversity data
 This package contains the Pipelines Data ingress utility package from
 GBIF and Living Atlases.
 .
 This package contains the la-pipelines utility. The aim of this utility is
 the replacement to biocache-store for data ingress.

Package: la-pipelines-migration
Architecture: all
Depends: ${misc:Depends}, openjdk-8-jdk
Description: Utility for data processing and indexing of biodiversity data
 This package contains the Pipelines Data ingress utility package from
 GBIF and Living Atlases.
 .
 This package contains the la-pipelines migration utility. The aim of this
 utility is to help in the migration from biocache-store.
