<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <!-- Stop output INFO at start -->
<!--    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->

    <property name="defaultPattern" value="%-5level [%date{'yyyy-MM-dd HH:mm:ss,SSSZ'}] [%thread] %logger: %msg%n%xEx"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="au.org.ala" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.gbif.pipelines" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.spark-project.jetty" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.gbif.common.parsers" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.gbif.geocode.api.cache" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.gbif.pipelines.core.parsers.location.cache.GeocodeBitmapCache" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.gbif.dwc.terms.TermFactory" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.gbif.vocabulary.lookup" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.beam.runners.spark.translation" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>