appkeys:
  file: @appkeys.file@
schemas:
  eml: http://rs.gbif.org/schema/eml-2.1.1/eml.xsd
  emlGbifProfile: http://rs.gbif.org/schema/eml-gbif-profile/1.1/eml.xsd
  dwcMeta:
    - https://raw.githubusercontent.com/tdwg/dwc/9adb52a5389a29ba9483ea12a138cf781c6472e4/standard/documents/text/tdwg_dwc_text.xsd
    - https://dwc.tdwg.org/text/tdwg_dwc_text.xsd

storePath: @storePath@

registry:
  datasource:
    url: @registry.datasource.url@
    password: @registry.datasource.password@
    username: @registry.datasource.username@
    hikari:
      idleTimeout: 60000
      maximumPoolSize: 10
      minimumIdle: 1
  ws:
    url: @registry.ws.url@

gbif:
  api:
    url: @gbif.api.url@
  ws:
    security:
      wrappedContent: false
  portal:
    url: @gbif.portal.url@
  mail:
    bcc:
    from: @gbif.mail.url@`
maxRunningValidationPerUser: 3
validation:
  datasource:
    url: @validation.datasource.url@
    password: @validation.datasource.password@
    username: @validation.datasource.username@
    hikari:
      idleTimeout: 60000
      maximumPoolSize: 10
      minimumIdle: 1
spring:
  application.name: validator-ws
  rabbitmq:
    host: @validator.messaging.hostname@
    port: @validator.messaging.port@
    username: @validator.messaging.username@
    password: @validator.messaging.password@
    virtual-host: @validator.messaging.virtualhost@
  liquibase:
    enabled: false
  flyway:
    enabled: false
  servlet:
    multipart:
      enabled: true
      location: @upload.workingDirectory@
      max-file-size: @upload.maxUploadSize@
      max-request-size: @upload.maxUploadSize@
